/* body {
    background-color: black;
} */

.status-in-progress {
    /* background-color: rgb(255, 165, 0); */
    background-color: rgb(255, 173, 42);
}

.status-completed {
    background-color: rgb(80, 186, 70);
    /* opacity: 50%; */
}

.status-not-started {
    background-color: rgb(92, 145, 229);
    /* color: black; */
}

.tag {
    width: 75px;
    height: 1.2em;
}

.tag-span {
    /* background-color: aquamarine; */
    border-radius: 1em;
    padding: 0.3em 0.6em 0.3em 0.6em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 5px;
}

.red-tag {
    background-color: rgb(255, 128, 128);
    border-color: red;
}

.link-tag {
    color: black;
    text-decoration: none;
    font-size: 0.9em;
}