/* body {
    background-color: black;
} */

.main-body {
    margin-top: 5%;
}

.status-in-progress {
    /* background-color: rgb(255, 165, 0); */
    background-color: rgb(255, 173, 42);
}

.status-completed {
    background-color: rgb(80, 186, 70);
    /* opacity: 50%; */
}

.status-not-started {
    background-color: rgb(92, 145, 229);
    /* color: black; */
}

.task-title {
    color: black;
    text-decoration: none;
}

.logout, .logout:hover {
    color: var(--bs-danger-text-emphasis);
}

.dropdown-username {
    color: white;
}


/* .tag {
    width: 75px;
    height: 1.2em;
} */

.tag {
    border-radius: 1em;
    padding: 0.1em 0.6em 0.1em 0.6em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 5px;
    float: left;
    background-color: white;

    color: black;
    text-decoration: none;
    font-size: 0.9em;
}

.tag:hover {
    opacity: 0.7;
    color: black;
}

.red-tag {
    background-color: rgb(255, 147, 147);
    border-color: var(--bs-red);
}

.orange-tag {
    background-color: rgb(255, 204, 128);
    border-color: var(--bs-orange);
}

.yellow-tag {
    background-color: rgb(255, 244, 128);
    border-color: var(--bs-yellow);
}

.green-tag {
    background-color: rgb(170, 229, 136);
    border-color: var(--bs-green);
}

.blue-tag {
    background-color: rgb(128, 211, 255);
    border-color: var(--bs-blue);
}

.purple-tag {
    background-color: rgb(216, 182, 255);
    border-color: var(--bs-purple);
}