<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a tag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Create a tag</h1>

        <form action="" , method="POST">

            <label for="tag-name">Tag name</label>
            <br>
            <input type="text" name="tag-name" id="tag-name" required>
            <br><br>

            <label for="color">Color: </label>
            <select name="color" id="tag-color">
                <option value="">None</option>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
            </select>
            <br><br>

            <input id="submit" type="submit" name="sub1" value="Submit">
        </form>
        <br>
        <p>Tag preview</p>
        <div class="container">
            <span class="tag-span" id="sample-tag">
                <a class="link-tag" id="tag-text">no-color</a>
            </span>
        </div>
    </div>
</body>

<script src="../static/js/show-tag-preview.js"></script>

</html>