<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a tag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar bg-dark navbar-expand-sm border-bottom border-bottom-dark " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Task Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">Manage tags</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create new
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/create-new-task">Task</a></li>
                            <li><a class="dropdown-item" href="/create-new-tag">Tag</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-username" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item logout" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container main-body">
        <h1>Edit tag</h1>

        <form action="" , method="POST">
            {% set id = tag_info[0] %}
            {% set color = tag_info[1] %}
            {% set name = tag_info[2] %}

            <label for="tag-name">Tag name (max 25 chars)</label>
            <br>
            <input type="text" name="tag-name" id="tag-name" maxlength="25" required>
            <br><br>

            <label for="color">Color: </label>
            <select name="color" id="tag-color">
                <option value="">None</option>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
            </select>
            <br><br>
            <p>Tag preview</p>
            <div class="container">
                <a id="tag" class="tag {{color}}-tag">{{name}}</a>
            </div>
            <br><br><br>
            <input id="submit" type="submit" name="sub1" value="Submit">
        </form>
        <br>
    </div>
</body>

<script src="/static/js/show-tag-preview.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script>
    // var colors = document.getElementById("tag-color");
    var options = document.querySelectorAll('option');
    let option;
    var color = {{ color| tojson}};
    for (i in options) {
        option = options[i];
        if (option.value === color) {
            option.selected = true;
        }
        // console.log(option.value);
    }
    var input = document.getElementById("tag-name");
    input.value = {{ name| tojson}};

</script>

</html>