<!DOCTYPE html>
<html lang="en">

<head>
  <title>Task Manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar bg-dark navbar-expand-sm border-bottom border-bottom-dark " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Task Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/tags">Manage tags</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Create new
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/create-new-task">Task</a></li>
              <li><a class="dropdown-item" href="/create-new-tag">Tag</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav d-flex">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-username" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item logout" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container main-body">
    <div class="row">
      <div class="col-sm-7">

        <h1>{{task['title']}}
          <span class="badge bg-primaryary status-{{task['status-class']}}"
            style="font-size: 0.4em;">{{task['status-name']}}</span>
        </h1>
        <!-- <br> -->
        <p style="font-size: 1.5em;">Due: {{task['due-date']}}</p>
        <br>
      </div>
      <div class="col-sm-5">
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button class="btn btn-outline-danger me-md-2" type="button">Delete</button> -->
          <a href="edit/" class="btn btn-outline-dark" type="button">Edit</a>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        {% set tags = task['tags'] %}
        <div>
          <h3>Description:</h3>
          <p style="white-space: pre-wrap;">{{task['description']}}</p>
        </div>
        <br>
        <br>
        <form method="POST">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Delete</button>
            <ul class="dropdown-menu">
              <!-- <li><button class="btn" type="button">Delete</button></li> -->
              <!-- <li><a class="dropdown-item text-danger" id="delete-task" href="#">Delete task</a></li> -->
              <li><input class="btn btn-link text-danger" type="submit" style="text-decoration: none;" name="delete" value="Delete task"></li>
            </ul>
          </div>
        </form>
      </div>

      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"> -->
      <div class="col-sm-5">
        <h4>Tags:</h4>
        {% for tag_info in tags %}
        {% set id = tag_info[0] %}
        {% set color = tag_info[1] %}
        {% set name = tag_info[2] %}
        <a href="/tags/{{id}}/" class="tag {{color}}-tag">{{name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
  
</script>
</html>